@page
@model SacramentProgramBuilder.Pages.SacramentPrograms.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SacramentProgram</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SacramentProgram.ProgramDate" class="control-label"></label>
                <input asp-for="SacramentProgram.ProgramDate" class="form-control" />
                <span asp-validation-for="SacramentProgram.ProgramDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentProgram.PresidingName" class="control-label"></label>
                <input asp-for="SacramentProgram.PresidingName" class="form-control" />
                <span asp-validation-for="SacramentProgram.PresidingName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="SacramentProgram.ConductingName" class="control-label"></label>
                <input asp-for="SacramentProgram.ConductingName" class="form-control" />
                <span asp-validation-for="SacramentProgram.ConductingName" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="SacramentProgram.ConductingName" class="control-label"></label>
                <select asp-for="SacramentProgram.ConductingName" class="form-control">
                    <option value="">-- Select --</option>
                    <option value="Bishop Bill Black">Bishop Bill Black</option>
                    <option value="Brother Wayne White">Brother Wayne White</option>
                    <option value="Brother Bob Brown">Brother Bob Brown</option>
                    <option value="To Be Determined">To Be Determined</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SacramentProgram.OpeningPrayerName" class="control-label"></label>
                <input asp-for="SacramentProgram.OpeningPrayerName" class="form-control" />
                <span asp-validation-for="SacramentProgram.OpeningPrayerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentProgram.OpeningHymnName" class="control-label"></label>
                <input asp-for="SacramentProgram.OpeningHymnName" class="form-control" />
                <span asp-validation-for="SacramentProgram.OpeningHymnName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentProgram.OpeningHymnNum" class="control-label"></label>
                <input asp-for="SacramentProgram.OpeningHymnNum" class="form-control" />
                <span asp-validation-for="SacramentProgram.OpeningHymnNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentProgram.SacramentHymnName" class="control-label"></label>
                <input asp-for="SacramentProgram.SacramentHymnName" class="form-control" />
                <span asp-validation-for="SacramentProgram.SacramentHymnName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentProgram.SacramentHymnNum" class="control-label"></label>
                <input asp-for="SacramentProgram.SacramentHymnNum" class="form-control" />
                <span asp-validation-for="SacramentProgram.SacramentHymnNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentProgram.Speakers" class="control-label">Speakers</label>
                <div id="speakerContainer">
                    <div class="form-group">
                        <label asp-for="SacramentProgram.Speakers[0].Name" class="control-label">Name</label>
                        <input asp-for="SacramentProgram.Speakers[0].Name" class="form-control" />
                        <span asp-validation-for="SacramentProgram.Speakers[0].Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SacramentProgram.Speakers[0].SpeakerType" class="control-label">Speaker Type</label>
                        <input asp-for="SacramentProgram.Speakers[0].SpeakerType" class="form-control" />
                        <span asp-validation-for="SacramentProgram.Speakers[0].SpeakerType" class="text-danger"></span>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" onclick="addSpeaker()">Add Speaker</button>
            </div>
            <div class="form-group">
                <label asp-for="SacramentProgram.SpecialMusicalNumber" class="control-label"></label>
                <input asp-for="SacramentProgram.SpecialMusicalNumber" class="form-control" />
                <span asp-validation-for="SacramentProgram.SpecialMusicalNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentProgram.IntermediateHymnName" class="control-label"></label>
                <input asp-for="SacramentProgram.IntermediateHymnName" class="form-control" />
                <span asp-validation-for="SacramentProgram.IntermediateHymnName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentProgram.IntermediateHymnNum" class="control-label"></label>
                <input asp-for="SacramentProgram.IntermediateHymnNum" class="form-control" />
                <span asp-validation-for="SacramentProgram.IntermediateHymnNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentProgram.ClosingPrayerName" class="control-label"></label>
                <input asp-for="SacramentProgram.ClosingPrayerName" class="form-control" />
                <span asp-validation-for="SacramentProgram.ClosingPrayerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentProgram.ClosingHymnName" class="control-label"></label>
                <input asp-for="SacramentProgram.ClosingHymnName" class="form-control" />
                <span asp-validation-for="SacramentProgram.ClosingHymnName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentProgram.ClosingHymnNum" class="control-label"></label>
                <input asp-for="SacramentProgram.ClosingHymnNum" class="form-control" />
                <span asp-validation-for="SacramentProgram.ClosingHymnNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function addSpeaker () {
            var index = 1;
            var inputHtml = `
                <div class="form-group">
                    <label asp-for="SacramentProgram.Speakers[${index}].Name" class="control-label">Name</label>
                    <input asp-for="SacramentProgram.Speakers[${index}].Name" class="form-control" />
                    <span asp-validation-for="SacramentProgram.Speakers[${index}].Name" class="text-danger" ></span>
                </div>
                <div class="form-group">
                    <label asp-for="SacramentProgram.Speakers[${index}].SpeakerType" class="control-label">Speaker Type</label>
                    <input asp-for="SacramentProgram.Speakers[${index}].SpeakerType" class="form-control" />
                    <span asp-validation-for="SacramentProgram.Speakers[${index}].SpeakerType" class="text-danger" ></span>
                </div>
             `;
            $(inputHtml).appendTo("#speakerContainer");
        }
    </script>
}
